page-traindetail {

}
//内容
.traindetail{
  background-color: #f2f2f2;
}
//脚部
.traind .toolbar-background-md{
  background-color: #fff;
}
.traindetailfooter span{
  margin-left: 15px;
  color: gray;
}
.apply{
  padding:8px 13px;
  margin-right: 7px;
  color: #fff;
  background-color: #6495ed;
  border-radius: 3px;
}
