page-mytest {
  margin:0;
  padding:0;
  //background-color: #f2f2f2;
}
p{
  padding-left: 20px;
  color: gray;
}
button{
  padding: 10px 7px;
  background-color:#2c79d1;
  color: #fff;
  border-radius: 7px;
  //font-family: "Microsoft YaHei";
}
