<!--
  Generated template for the PinglunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>评论详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="faxiancont">

  <div class="neirong">
    <ul>
      <li *ngFor="let m of shuoshuo">
        <div class="diyiceng">
          <div class="touxiang">
            <img [(src)]="m.touimg" alt="">
          </div>
          <div class="wenzi">
            <span class="name">{{m.name}}</span>
            <span class="time">{{m.time}}</span>
          </div>
        </div>
        <div class="dierceng">
          <span class="wenzineirong">{{m.cont}}</span>
          <span class="zanshu">{{m.zanshu}}次赞</span>
        </div>
        <div class="disanceng">
          <span class="zan"><img src="{{surl}}" id="{{m.id}}" alt="" (click)="dianzan(m.id,m.zanshu)"></span>
          <span class="pinglun" (cilck)="pinglun(m.id)">评论</span>
          <span class="fenxiang">分享</span>
          <span class="jubao">举报</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="pinglunneirong">
    <ul>
      <li *ngFor="let s of shuju">
        <div>
          <div class="tx">
            <img [src]="s.touimg" alt="">
          </div>
          <div class="nr">
            <span class="sname">{{s.name}}</span>

            <span class="scont">{{s.cont}}</span>
          </div>
        </div>

      </li>
    </ul>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="shurukuang">
      <input type="text" [(ngModel)]="cont">
      <button (click)="fasong()">发送</button>
    </div>
  </ion-toolbar>
</ion-footer>

<style>

  .pinglunneirong ul
  {
    list-style: none;
    padding: 5px 5px !important;
  }
  .pinglunneirong ul li
  {
    width: 100%;
    /*height:30px;*/
    line-height:30px;
    float: left;
  }
  .pinglunneirong ul li div.tx
  {
    width:10%;
    float: left;
  }
  .pinglunneirong ul li div.tx img
  {
    border-radius: 50%;
  }
  .pinglunneirong ul li div.nr
  {
    margin-left:3%;
    width: 80%;
    float: left;
    line-height:20px;
  }
  .pinglunneirong ul li div.nr span
  {
    display: inline-block;
  }
  .pinglunneirong ul li span.sname
  {
    width:100%;
    font-weight: bolder;
    color: deepskyblue;
  }




  div.pinglunneirong
  {
    margin-top:5px;
    background-color: white;
    width:100%;
    height: 80%;
  }


  div.shurukuang input
  {
    width:80%;
    border-radius: 3px;
    border: 1px solid lightgrey;
  }
  div.shurukuang button
  {
    width:13%;
    /*height: 20px;*/
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: cornflowerblue;
    color: white;
  }









  div.neirong
  {
    width: 100%;
  }
  div.neirong ul
  {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  div.neirong ul li
  {
    width: 100%;
    margin-top:10px;
    background-color: white;
  }

  div.diyiceng
  {
    width:100%;
    height:50px;
  }
  div.diyiceng img
  {
    height: 50px;
    width:auto;
    border-radius: 50%;
    float: left;
  }
  div.diyiceng .wenzi
  {
    float: left;
    height: 50px;
    width:80%;
    line-height:20px;
    padding-top: 5px;
    padding-left: 5px;
    color: lightgrey;
  }
  div.diyiceng .wenzi .name
  {
    width: 80%;
    height: 20px;
    float: left;
    font-weight: bolder;
    color: black;
  }
  div.diyiceng .wenzi .time
  {
    float: left;
    width: 80%;
  }
  div.dierceng
  {
    width: 100%;
    padding:10px;
    /*float: left;*/
  }
  div.dierceng .wenzineirong
  {
    font-weight: bolder;
    /*float: left;*/
    width: 100%;
    font-family: 仿宋;
  }
  div.dierceng .zanshu
  {
    margin-top:5px;
    display: inline-block;
    width: 100%;
    /*float: left;*/
    height:15px;
    color: lightgrey;
  }
  div.disanceng
  {
    width:98%;
    margin-left:1%;
    height:30px;
    border-top: 1px solid lightgrey;
  }
  div.disanceng span
  {
    width: 25%;
    height: 30px;
    line-height: 30px;
    border-right:1px solid lightgrey;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 10px;
  }
  div.disanceng span:last-child
  {
    border-right:none;
  }
  div.disanceng span img
  {
    height:25px;
    width:auto;
    padding-top:5px;
  }

  div.disanceng span.pinglun
  {
    background: url('assets/images/pinglun1.png') no-repeat 25%;

    background-size:15px 15px;
  }
  div.disanceng span.fenxiang
  {
    background: url('assets/images/fenxiang.png') no-repeat 25%;

    background-size:15px 15px;
  }
  div.disanceng span.jubao
  {
    background: url('assets/images/jubao.png') no-repeat 25%;

    background-size:15px 15px;
  }




  .navtitle
  {
    width:100%;
    height:43px;
    background-color: cornflowerblue;
    color: white !important;
  }
  .navtitle h5
  {
    color: white;
  }
  .faxiancont
  {
    background-color: #f2f3f4;
  }
  div.own
  {
    height: 50px;
    width: 100%;
    background-color: white;
  }
  div.own div.touxiangkuang
  {
    width:10%;
    height: 40px;
    margin-top:5px;
    margin-left:5px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
  }
  div.own div.touxiangkuang img
  {
    width:100%;
    height: 40px;
    border-radius: 50%;
  }
  div.wenzikuang
  {
    width:80%;
    height:40px;
    margin-top:5px;
    margin-left:10px;
    float: left;
    line-height:40px;
  }
  div.wenzikuang span
  {
    display: inline-block;
    width: 80%;
    float: left;
  }
  div.wenzikuang button
  {
    width:15%;
    height:20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 3px;
  }

</style>
