page-setting {
  margin:0;
  padding:0;
}
.setTitle{
  background-color: #fff;
  width:100%;
  height:56px;
  text-align: center;
}
.toolbar-title-md{
  color: #000;
}
//.setlist{
//  padding:0;
//}
.quit{
  width:70%;
  border-radius: 3px;
  position: absolute;
  left:15%;
}
