page-accountsettings {

}
//头部样式
.accountheader .toolbar-background-md{
  background-color: #fff;
}
.accountheader .toolbar-title-md{
  text-align: center;
  color: #000;
}
.accountheader .ion-md-arrow-back::before{
  content:url(../assets/homeimg/left2.png);
}
//内容
.account{
  background-color: #f2f2f2;
}
.account ul{
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}
.account ul li{
  width:100%;
  height: 44px;
  line-height:44px;
  margin-bottom: 18px;
  background-color: #fff;
  padding-left: 15px;
  color: gray;
}
