page-newsdetail {

}
//首页头部
.newsheader .toolbar-background-md{
  background-color: cornflowerblue;
}
.newsheader .toolbar-title-md{
  text-align: center;
  color: #fff;
}
.newsheader img{
  width: 24px;
  height: 24px;
}
